{namespace cxp_fe_training_03}
 
/**
* Accordion Container
* @param item Item in context
*/
{template .AccordionPF3E1}
	<div data-pid="{$item.name}" class="bp-container bp-ui-dragRoot">
		<div class="accordion--area bp-area">
			{foreach $child in $item.children}
				{if parseInt($child.preferences.area.value) == 0}
					{include($child) |noAutoescape}
				{/if}
			{/foreach}
		</div>
	</div>
{/template}
